&control
   prefix = 'nite2'
   calculation = 'scf'
   restart_mode = 'from_scratch'
  wf_collect=.true.
 !  verbosity=high
   tstress = .true.
   tprnfor = .true.
!   disk_io='none'
   outdir = './outdir'
   wfcdir = './wfcdir'
pseudo_dir='/public3/home/sc53267/software/QE/PP/official' 
         nstep =  1000  ,
             !  etot_conv_thr = 3.0E-9  ,
                forc_conv_thr = 1.0D-5 ,
/
&system
   ibrav = 4
A =  2.4662731432387779
C =  15
 !  A= 3.84572913364214
 !  C=22.8915002346
!  lspinorb=.true.
!  noncolin=.true.
   nat = 2
   ntyp = 1
   ecutwfc = 100
 !  ecutrho=700
   occupations  =  'smearing' ,
               smearing  =  'cold' ,
               degauss  =  0.01 ,
               nspin  =  1 ,
               lda_plus_u  =  .false. ,
/
&electrons
   electron_maxstep = 200
   conv_thr = 1.0d-14
   mixing_mode = 'plain'
 !  diagonalization = 'cg'
/
&IONS
ion_dynamics='bfgs'
!pot_extrapolation = 'second_order' ,
! wfc_extrapolation = 'second_order' ,
! trust_radius_max = 0.8D0 ,
! trust_radius_min = 1.0D-3 ,
!  trust_radius_min = 0.5D ,
! trust_radius_ini = 0.5D ,
 /
&CELL
    cell_dynamics = 'bfgs' ,
    press = 0.00 ,
    cell_dofree='2Dxy' ,
  !  wmass =  0.00700000  ,
/
!CELL_PARAMETERS
!   1.000016906   0.000000000   0.000000000
!  -0.500008453   0.866040045   0.000000000
!   0.000000000   0.000000000   3.912095522
ATOMIC_SPECIES
  C   12.01   C.pbe-mt_fhi.UPF
ATOMIC_POSITIONS crystal
 C  0.33333333  0.666666667  0.5
 C  0.66666667  0.333333333  0.5

K_POINTS automatic
18 18 1 0 0 0
