&CONTROL
    prefix = 'C'
    calculation = 'scf' 
    restart_mode = 'from_scratch'
    wf_collect=.true.
    disk_io='low'
    verbosity='low',
    tstress = .true.
    tprnfor = .true.
    outdir = './outdir'
    wfcdir = './wfcdir'
    pseudo_dir = '/home/fpzheng/software/QE/pseudo/QE_official'
    nstep = 1000 ,
    ! etot_conv_thr = 3.0E-9 ,
    forc_conv_thr = 1.0D-5 ,
/
&system
    ibrav = 4
	A = 3.409560
    C = 25.000000
    nat = 7
    ntyp = 2
        
&ELECTRONS
    electron_maxstep = 100,
    conv_thr = 1.0d-8,
    mixing_mode = 'plain',
    mixing_beta = 0.8d0,
    diagonalization = 'david',
/ 
&IONS
    ion_dynamics='bfgs',
/
&CELL
    cell_dynamics='bfgs',
	cell_dofree='2Dxy',
    press=0.0,
    press_conv_thr=0.1,
/

ATOMIC_POSITIONS crystal
Ta  0.999998  0.999998  0.999998  
Ta  0.999998  0.999998  0.999998  
Ta  0.000002  0.000002  0.000002  
Se  0.333332  0.333332  0.333332  
Se  0.333332  0.333332  0.333332  
Se  0.666668  0.666668  0.666668  
Se  0.666669  0.666669  0.666669  
